<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Home" providerName="Npgsql" connectionString="Server=192.168.0.102;Port=5432;Database=photoCenter;User Id=pudka;Password=pudkaforeveralone95;searchpath=BD_LAB;"/>
    <add name="University" providerName="Npgsql" connectionString="Server=176.36.254.22;Port=5432;Database=photoCenter;User Id=pudka;Password=pudkaforeveralone95;"/>
    <add name="DbInfo" providerName="Npgsql" connectionString="Database=photoCenter;User Id=pudka;Password=pudkaforeveralone95;"/>
  </connectionStrings>
</configuration>